# 默认忽略的文件
# ---------------------------------------------
# ide的文件夹
.idea
.idea/gotta.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# 开发者的配置文件
*.yml
*.yaml
*.sh

# 忽略任何测试文件
*_test.go

# 忽略生成的文件
*.syso
*.exe
*.zip
*.json

# 其他
.DS_Store
